bcrypt==3.2.0
email-validator==1.1.2
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
google==3.0.0
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.11.3
Pillow==9.0.1
psycopg2-binary==2.8.6
pycparser==2.20
python-dateutil==2.8.1
pytz==2021.1
requests==2.24.0
six==1.15.0
SQLAlchemy==1.4.3
urllib3==1.25.11
virtualenv==20.4.3
Werkzeug==1.0.1
WTForms==2.3.3
greenlet==1.0.0
gunicorn==20.1.0
idna
dnspython==2.1.0
