{% extends "layout1.html" %}
{% block content %}
<div class="container">
<!-- Breadcrumb -->
  <div class="mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Account</li>
        </ol>
    </nav>
  </div>

  <div class="row">
    <div class="card mx-auto" style="width: 18rem;">
      <h5 class="card-header">Account</h5>
      <img src="{{ image_file }}" class="rounded-circle account-img mx-auto my-4" style="width: 10rem;">
      <div class="card-body text-center my-5">
        <h3 class="account-heading text-muted">{{ current_user.username }}</h3>
        <p class="text-secondary fs-5">{{ current_user.email }}</p>
      </div>
    </div>

    <div class="mx-auto" style="max-width: 700px;">
      <!-- form here -->
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Account Info</legend>
              <div class="form-group shadow-sm p-3 mb-3 bg-body rounded">
                  {{ form.username.label(class="form-control-label") }}
                  
                  {% if form.username.errors %}
                      {{ form.username(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.username.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.username(class="form-control form-control-lg") }}
                  {% endif %}       
              </div>
              <div class="form-group shadow-sm p-3 mb-3 bg-body rounded">
                  {{ form.email.label(class="form-control-label") }}

                  {% if form.email.errors %}
                      {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.email(class="form-control form-control-lg") }}
                  {% endif %} 
              </div>
          </feildset>
          <div class="form-group mb-3">
              {{ form.submit(class="btn btn-outline-success") }}
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}