{% extends "layout1.html" %}
{% block content %}
<div class="mx-auto" style="max-width: 900px;">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <feildset class="form-group">
      <h4 class="my-4">Payment</h4>
      <div class="my-4">
        <div class="form-check">
          <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
          <label class="form-check-label" for="credit">Credit card</label>
        </div>
        <div class="form-check">
          <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
          <label class="form-check-label" for="debit">Debit card</label>
        </div>
      </div>


      <div class="row gy-3">
        <div class="col-md-8">
          {{ form.amount.label(class="form-control-label") }}
          {{ form.amount(class="form-control form-control-lg") }}
        </div>
        <div class="col-md-6">
          {{ form.cardname.label(class="form-control-label") }}
          {{ form.cardname(class="form-control form-control-lg") }}
        </div>
        <div class="col-md-6">
          {{ form.cardnumber.label(class="form-control-label") }}
          {% if form.cardnumber.errors %}
              {{ form.cardnumber(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.cardnumber.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.cardnumber(class="form-control form-control-lg") }}
          {% endif %} 
        </div>
        <div class="col-md-3">
          {{ form.expirydate.label(class="form-control-label") }}
          {{ form.expirydate(class="form-control form-control-lg") }}
        </div>
        <div class="col-md-3">
          {{ form.cvvnumber.label(class="form-control-label") }}
          {% if form.cvvnumber.errors %}
              {{ form.cvvnumber(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.cvvnumber.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.cvvnumber(class="form-control form-control-lg") }}
          {% endif %} 
        </div>
      </div>
      <hr class="my-4">
      <div class=" text-center form-group mb-3">
        {{ form.submit(class="btn btn-outline-success") }}
      </div>
    </feildset>
  </form>
</div>
{% endblock content %}