{% extends "layout1.html" %}
{% block content %}
<div class="container">
<!-- Breadcrumb -->
  <div class="mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pass Details</li>
        </ol>
    </nav>
  </div>

    <div class="card mx-auto" style="width: 50rem;">
      <h5 class="card-header text-center">My Pass Details</h5>
      <img src="{{ image_file }}" class="rounded-circle account-img mx-auto my-4" style="width: 10rem;">
      {% if pass_det %}
        {% for pass in pass_det %}
          <div class="card mx-auto my-4" style="width: 35rem;">
            <h5 class="card-header text-left">Pass Details</h5>
            <div class="card-body my-2">
              <div class="row">
                <div class="col-sm">
                  <p class="fw-bold">City</p>
                  <p class="fw-bold">Pass ID</p>  
                  <p class="fw-bold">From</p>
                  <p class="fw-bold">To</p>
                  <p class="fw-bold">Valid From</p>
                  <p class="fw-bold">Valid Till</p>
                  <p class="fw-bold">Rate</p>
                  <p class="fw-bold">Pass Type</p>
                  <p class="fw-bold">Booking Time</p>
                </div>
                <div class="col-sm">
                  <p class="fw-bold">:</p>  
                  <p class="fw-bold">:</p> 
                  <p class="fw-bold">:</p>
                  <p class="fw-bold">:</p>
                  <p class="fw-bold">:</p>
                  <p class="fw-bold">:</p>
                  <p class="fw-bold">:</p>
                  <p class="fw-bold">:</p>
                  <p class="fw-bold">:</p>
                </div>
                <div class="col-sm">
                  <p class="fw-normal">{{ pass.city }}</p>  
                  <p class="fw-normal">{{ pass.id + 301975291 + user_id }}</p>
                  <p class="fw-normal">{{ pass.source }}</p>
                  <p class="fw-normal">{{ pass.dest }}</p>
                  <p class="fw-normal">{{ pass.date.date() }}</p>
                  <p class="fw-normal">{{ pass.expiry.date() }}</p>
                  <p class="fw-normal">Rs {{ pass.price }}</p>
                  <p class="fw-normal">{{ pass.pass_type }}</p>
                  <p class="fw-normal">{{ pass.booking_date.strftime("%Y-%m-%d %H:%M:%S") }}</p>
                  
                  <!--Pass.query.filter_by(id=pass.id).delete()-->
                </div>
                <div class="text-center"><a href="/delete/{{ pass.id }}" onclick="return confirm('Are you sure? Amount will be added to your DigiBus Wallet')"><button class="btn btn-outline-danger">Delete</button></a></div>

              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
</div>

{% endblock content %}