{% extends "layout1.html" %}
{% block content %}
<div class="container">
<!-- Breadcrumb -->
  <div class="mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pass Details</li>
        </ol>
    </nav>
  </div>

    <div class="card mx-auto" style="width: 40rem;">
      <h5 class="card-header">Pass Details</h5>
      <img src="{{ image_file }}" class="rounded-circle account-img mx-auto my-4" style="width: 10rem;">
      <div class="card-body text-center my-5">
        {% if pass_det %}
          {% for pass in pass_det %}
          <h2 class="account-heading text-muted">{{ pass.city }}</h2>  
          <h3 class="account-heading text-muted">{{ pass.source }}</h3>
          <p class="text-secondary fs-5">{{ pass.dest }}</p>
          <h3 class="account-heading text-muted">{{ pass.date.date() }}</h3>
          <h3 class="account-heading text-muted">{{ pass.pass_type }}</h3>
          {% endfor %}
        {% endif %}
      </div>
    </div>
</div>

{% endblock content %}